

<div class="column is-10 is-offset-1 what-we-do">
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-8">
          {{ content.field_title }}
          {{ content.field_body }}
        </div>
        <div class="column">
          <a class="button myButton"> {{ content.field_button_text }} </a>
        </div>
      </div>
    </div>
  </section>
</div>
