
<div class="columns">
<div class="column hero">
 {{ content.field_hero_image }}
  <div class="hero-text">
  <div class="hero-title">	
  	{{ content.field_hero_title }}
  </div>
  <div class="hero-body">
   {{ content.field_hero_body }}
  </div>
  </div>

</div>
</div>