

<div class="column push">
 <div class="outer-overlay">   
 {{content.field_image}} 
  <div class="overlay"></div>  
    <div class="push-text">
      {{content.field_link}} 
    </div> 
 </div>
</div>
